.center_frame {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;

	width: 250px;
	height: fit-content;

	padding: 24px;

	border-style: solid;
	border-width: 2px;
	border-radius: 4px;
	border-color: #969A9F;

	font-size: 28px;
	text-align: center;
}
.suggestion_text {
	font-size: 16px;
	text-align: left;
}
.suggestion_button_link {
	background: none;
	padding: 0;
	border: none;

	color: #ff4848;
	text-decoration-line: underline;
	cursor: pointer;
}
