:root {
	--clr_text: #F6F5F5;
	--clr_text_secondary: #988888;
	--clr_text_error: #FF5A5A;
	--clr_text_warning: #E2E383;
	--clr_text_success: #76F774;

	--clr_bg_panel: #342A2E;
	--clr_bg_item: #231D1F;
	--clr_bg_hover: #6D5860;
	--clr_bg_selected: #4C3D43;
	--clr_bg_text_selection: #644646;

	--clr_border: #231D1F;
	--clr_border_item: #4C3D43;
	--clr_border_focus: #C8C0C0;

	--clr_offline: #6C6C6C;
	--clr_online: #6BFF5F;
	--clr_away: #FFF75F;
	--clr_donotdisturb: #FF5F5F;
}
.filter_icon_main {
	filter: invert(100%) sepia(2%) saturate(965%) hue-rotate(236deg) brightness(117%) contrast(92%);
}

html, body {
	height: 100%;
	margin: 0;
}
body {
	background: #3B3034;
	color: var(--clr_text);
	font-family: sans-serif;
}
button {
	font-family: sans-serif;
}
::selection {
	background: var(--clr_bg_text_selection);
}

/* Generic classes */
.main {
	display: flex;

	height: 100%;
	box-sizing: border-box;
	padding: 14px 0 14px 0;
}
.panel {
	background: var(--clr_bg_panel);
	border-width: 2px;
	border-color: var(--clr_border);

	color: var(--clr_text);
}

.item {
	background: var(--clr_bg_item);
	border-width: 2px;
	border-color: var(--clr_border);
}
.hoverable:hover {
	background: var(--clr_bg_hover);
}
.selected {
	background: var(--clr_bg_selected) !important;
}

.transparent_button {
	border-style: none;
	padding: 0;
}
.transparent_button:not(.selected):not(:hover) {
	background: transparent;
}


/* Frequently used classes */

.user_role_circle_big {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: pink;
	border-radius: 50%;
}


/* Main window classes */
.sidebar_messages {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.sidebar_users {
	border-style: none none none solid;

	width: 256px;
	min-width: 256px;
}
.sidebar_user_display {
	padding: 3px 6px 3px 6px;
}

.profile_panel {
	border-style: solid;

	box-sizing: border-box;
	height: auto;

	width: 100%;
	padding: 8px;

	font-size: 24px;
	overflow-wrap: anywhere;
}
