html, body {
	height: 100%;
}
body {
	background: #4B4444;
	color: #F6F5F5;

	display: flex;
	margin: 0;
	flex-direction: column;
}
::selection {
	background: #644646;
}

.center_frame {
	margin: auto;

	width: 250px;

	padding: 24px;

	border-style: solid;
	border-width: 2px;
	border-radius: 4px;
	border-color: #969A9F;

	font-size: 28px;
	text-align: center;
}
.suggestion_text {
	font-size: 16px;
	text-align: left;
}
a {
	color: #ff4848;
	text-decoration-line: underline;
	cursor: pointer;
}
