html, body {
	height: 100%;
}
body {
	background: #4B4444;
	color: #F6F5F5;

	display: flex;
	margin: 0;
	flex-direction: column;
}
::selection {
	background: #644646;
}

.sidebar_servers {
	margin-left: 16px;
	padding-left: 12px;
	padding-right: 12px;
	width: 48px;
}

.icon_sidebar_server {
	width: 48px;
	height: 48px;

	background: #2A2E34;
	border-radius: 4px;

	display: block;
	margin-bottom: 4px;

	align-content: center;
	text-align: center;

	user-select: none;

	cursor: pointer;
}
.icon_sidebar_server:hover {
	background: #767676;
}
.icon_sidebar_server_text {
	font-size: 16px;
	overflow-wrap: break-word;
	padding: 4px;
	padding-top: 0px;

	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
