:root {
	--clr_text: #F6F5F5;
	--clr_text_secondary: #988888;
	--clr_text_error: #FF5A5A;

	--clr_bg_panel: #342A2E;
	--clr_bg_item: #231D1F;
	--clr_bg_hover: #6D5860;
	--clr_bg_selected: #4C3D43;
	--clr_bg_text_selection: #644646;

	--clr_border: #231D1F;
	--clr_border_item: #4C3D43;
	--clr_border_focus: #C8C0C0;

	--clr_offline: #6C6C6C;
	--clr_online: #6BFF5F;
	--clr_away: #FFF75F;
	--clr_donotdisturb: #FF5F5F;
}
.filter_icon_main {
	filter: invert(100%) sepia(2%) saturate(965%) hue-rotate(236deg) brightness(117%) contrast(92%);
}

html, body {
	height: 100%;
	margin: 0;
}
body {
	background: #3B3034;
	color: var(--clr_text);
}
::selection {
	background: var(--clr_bg_text_selection);
}

/* Generic classes */
.main {
	display: flex;

	height: 100%;
	box-sizing: border-box;
	padding: 14px 0 14px 0;
}
.panel {
	background: var(--clr_bg_panel);
	border-width: 2px;
	border-color: var(--clr_border);

	color: var(--clr_text);
}

.item {
	background: var(--clr_bg_item);
	border-width: 2px;
	border-color: var(--clr_border);
}
.hoverable:hover {
	background: var(--clr_bg_hover);
}
.selected {
	background: var(--clr_bg_selected) !important;
}

.transparent_button {
	border-style: none;
	padding: 0;
}
.transparent_button:not(.selected):not(:hover) {
	background: transparent;
}


/* Frequently used classes */

.user_role_circle_big {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: pink;
	border-radius: 50%;
}


/* Main window classes */

.sidebar_servers {
	display: flex;
	flex-direction: column;
	align-items: center;

	border-style: none solid none none;
	box-sizing: border-box;

	width: 64px;
	height: -webkit-fill-available;
	padding: 6px;
}
.sidebar_server_actions {
	height: 64px;
}

.sidebar_server {
	padding: 0;
	border-style: none;

	width: 48px;
	height: 48px;

	border-radius: 4px;

	display: block;
	margin-bottom: 4px;

	align-content: center;
	text-align: center;

	user-select: none;

	cursor: pointer;
}

div.sidebar_server_el {
	font-size: 16px;
	color: var(--clr_text);

	overflow-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
img.sidebar_server_el {
	width: 100%;
	height: 100%;
	border-radius: 4px;
}

.sidebar_channels {
	width: 256px;
	height: -webkit-fill-available;
	border-style: none solid none none;
}
.sidebar_channel_actions {
	height: 32px;
}
.sidebar_channel_name {
	margin: 8px 0 8px 8px;
	font-size: 24px;
}

.sidebar_channel_el {
	border-style: solid none none none;

	width: 100%;

	color: var(--clr_text);
	font-size: 18px;

	display: inline-flex;
	text-align: left;
	align-items: center;
	padding: 4px 0px 4px 4px;

	overflow-wrap: anywhere;

	cursor: pointer;

	user-select: none;
}
.sidebar_channel_el_icon {
	padding-right: 6px;
	height: 20px;
}

.sidebar_messages {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.sidebar_users {
	border-style: none none none solid;

	width: 256px;
	min-width: 256px;
}
.sidebar_user_display {
	padding: 3px 6px 3px 6px;
}


.profile_panel {
	border-style: solid;

	box-sizing: border-box;
	height: auto;

	width: 100%;
	padding: 8px;

	font-size: 24px;
	overflow-wrap: anywhere;
}
