:root {
	--clr_text: #F6F5F5;
	--clr_text_secondary: #988888;

	--clr_bg_panel: #342A2E;
	--clr_bg_item: #231D1F;
	--clr_bg_hover: #6D5860;
	--clr_bg_selected: #4C3D43;

	--clr_border: #231D1F;
	--clr_border_item: #4C3D43;
}

html, body {
	height: 100%;
}
body {
	background: #3B3034;
	color: var(--clr_text);
}
::selection {
	background: #644646;
}

/* Generic classes */
.main {
	display: flex;
	height: 100%;
	margin: 14px 0 14px 0;
}
.panel {
	background: var(--clr_bg_panel);
	border-width: 2px;
	border-color: var(--clr_border);
}

.item {
	background: var(--clr_bg_item);
	border-width: 2px;
	border-color: var(--clr_border);
}
.hoverable:hover {
	background: var(--clr_bg_hover);
}
.selected {
	background: var(--clr_bg_selected);
}

/* Specific classes */

.sidebar_servers {
	margin-left: 16px;
	border-style: none solid none none;
	width: 48px;
	padding: 6px;
}

.sidebar_server {
	padding: 0;
	border-style: none;

	width: 48px;
	height: 48px;

	border-radius: 4px;

	display: block;
	margin-bottom: 4px;

	align-content: center;
	text-align: center;

	user-select: none;

	cursor: pointer;
}

div.sidebar_server_el {
	font-size: 16px;
	color: var(--clr_text);

	overflow-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
img.sidebar_server_el {
	width: 100%;
	height: 100%;
}

.sidebar_channel {
	width: 256px;
	border-style: none solid none none;
}
.sidebar_channel_el {
	border-style: none none solid none;

	width: 100%;

	color: var(--clr_text);
	font-size: 18px;

	display: inline-flex;
	align-items: center;
	padding: 4px 0px 4px 4px;

	user-select: none;

	cursor: pointer;
}
.sidebar_channel_el:not(.selected):not(:hover) {
	background: transparent;
}
.sidebar_channel_el_icon {
	padding-right: 6px;
	height: 20px;
}

.sidebar_message {
	width: 100%;
}
