html, body {
	height: 100%;
}
body {
	background: #3B3034;
	color: #F6F5F5;
}
::selection {
	background: #644646;
}

/* Generic classes */
.main {
	display: flex;
	height: 100%;
	margin: 14px 0 14px 0;
}
.panel {
	background: #342A2E;
	border-width: 2px;
	border-color: #231D1F;
}

.item {
	background: #231D1F;
	border-width: 2px;
	border-color: #231D1F;
}
.hoverable:hover {
	background: #6D5860;
}
.selected {
	background: #4c3d43;
}

/* Specific classes */

.sidebar_servers {
	margin-left: 16px;
	border-style: none solid none none;
	width: 48px;
	padding: 6px;
}

.sidebar_server {
	padding: 0;
	border-style: none;

	width: 48px;
	height: 48px;

	border-radius: 4px;

	display: block;
	margin-bottom: 4px;

	align-content: center;
	text-align: center;

	user-select: none;

	cursor: pointer;
}

div.sidebar_server_el {
	font-size: 16px;
	color: #F6F5F5;

	overflow-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
img.sidebar_server_el {
	width: 100%;
	height: 100%;
}

.sidebar_channel {
	width: 256px;
}
.sidebar_channel_el {
	border-style: none none solid none;

	width: 100%;

	color: #F6F5F5;
	font-size: 18px;

	display: inline-flex;
	align-items: center;
	padding: 4px 0px 4px 4px;

	user-select: none;

	cursor: pointer;
}
.sidebar_channel_el:not(.selected):not(:hover) {
	background: transparent;
}
.sidebar_channel_el_icon {
	padding-right: 6px;
	height: 20px;
}
